*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
body{
    font-family: 'Atkinson Hyperlegible', sans-serif;
    
}
header{
    
    background-color: #000;
    color: aliceblue;
    align-items: center;
    box-shadow: 0px 5px 9px rgba(0, 0, 0, .5);
    
    
    
}
nav{
    display: flex;
    justify-content: space-between;
    background-color: #000;
    color: aliceblue;
    align-items: center;
    padding-right: 50px;
    width: 90%;
    margin: 0 auto;

}
a{
    color: aliceblue;
    text-decoration: none;

}
.logo{
    width: 150px;
    
}
ul{
    display: flex;
    justify-content: flex-start;
    list-style: none;
    
}
li{
        margin: 10px 10px;
}

.icon{
    font-size: 25px;

}

.pages{
    font-size: 20px;
}

.btn_principal{
    background-color: #000;
    border-radius: 20px;
    padding: 10px;
    display: inline-block;
    color: white;
    transition: 0.5s;
    box-shadow: 0px 5px 80px rgba(0, 0, 0, .5);
}
.btn_principal:hover{
    background-color: #000;
    transform: scale(1.2);
    
}

.banner{
    display: flex;
}


footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer a{
    color: rgba(0, 0, 0, .5);

}


